<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>后台管理系统 注册</title>
</head>
<body>
  <h1>注册</h1>
  <form action="/?mod=admin&ctr=index&act=register" method="POST">
    <div class="item">
      <label for="">用户名</label>: <input type="text" placeholder="请输入用户名">
    </div>
    <div class="item">
      <label for="">密码</label>: <input type="text" placeholder="请输入密码">
    </div>
    <div class="item">
      <input type="submit" value="注册">
    </div>
  </form>
</body>
</html>
